# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/

# Logs
*.log

# Python build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/